<main class="container-fluid mx-auto">
  <h1>Todo List</h1>
  <!-- <nav class="navbar navbar-expand">
    <h1 class="navbar-brand" href="#">Todos</h1> 
    <div class="ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Pending <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resolved</a>
        </li>
        </ul>
        </div>
  </nav> -->
  <app-input (submit)="addTodo($event)"></app-input>
  <div class="task-list mx-auto">
    <ul>
      <div class="col-10 row list-item" *ngFor="let todo of todoList" (click)="checkTodo(todoItem.id)">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172"
          style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#00a8b0">
              <path
                d="M86,17.2c-37.92928,0 -68.8,30.87072 -68.8,68.8c0,37.92928 30.87072,68.8 68.8,68.8c37.92928,0 68.8,-30.87072 68.8,-68.8c0,-37.92928 -30.87072,-68.8 -68.8,-68.8zM86,28.66667c31.73223,0 57.33333,25.6011 57.33333,57.33333c0,31.73223 -25.6011,57.33333 -57.33333,57.33333c-31.73223,0 -57.33333,-25.6011 -57.33333,-57.33333c0,-31.73223 25.6011,-57.33333 57.33333,-57.33333z">
              </path>
            </g>
          </g>
        </svg>
        <li #todoItem class={{todo.status}} id="{{todo.id}}">
          {{todo.text}}</li>
      </div>
    </ul>
  </div>
  <hr>
  <div class="task-list">
    <ul>
      <span class="center-text" *ngIf="!completedTodos || !completedTodos.length">{{uncompletedTodos}}</span>
      <h2 class="  center-text" *ngIf="completedTodos && completedTodos.length">Completed Tasks</h2>
      <div class="row list-item col-10" *ngFor="let todo of completedTodos" (click)="deleteTodo(task.id)">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 172 172"
          style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#e74c3c">
              <path
                d="M86,14.33333c-39.517,0 -71.66667,32.14967 -71.66667,71.66667c0,39.517 32.14967,71.66667 71.66667,71.66667c39.517,0 71.66667,-32.14967 71.66667,-71.66667c0,-8.06967 -1.40478,-15.80821 -3.87728,-23.05371l-11.60384,11.60384c0.7525,3.698 1.14778,7.5297 1.14778,11.44987c0,31.61217 -25.72117,57.33333 -57.33333,57.33333c-31.61217,0 -57.33333,-25.72117 -57.33333,-57.33333c0,-31.61217 25.72117,-57.33333 57.33333,-57.33333c11.70317,0 22.58877,3.53955 31.67611,9.58822l10.26009,-10.26009c-11.81067,-8.557 -26.27703,-13.66146 -41.93619,-13.66146zM152.59961,23.59961l-73.76628,73.76628l-23.59961,-23.59961l-10.13411,10.13411l33.73372,33.73372l83.90039,-83.90039z">
              </path>
            </g>
          </g>
        </svg>
        <li #task class={{todo.status}} id="{{todo.id}}" [ngClass]="'my-auto'">
          {{todo.text}}</li>
      </div>

    </ul>
  </div>

</main>