<main class="container-fluid">
  <h1>Todo List</h1>
  <app-input (submit)="addTodo($event)"></app-input>
  <div class="task-list">
    <ul>
      <div class="row list-item col-lg-8 col-md-8 col-sm-8" *ngFor="let todo of todoList" (click)="checkTodo(todoItem.id)">
        <svg class="col-2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30"
          viewBox="0 0 172 172" style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#00a8b0">
              <path
                d="M86,17.2c-37.92928,0 -68.8,30.87072 -68.8,68.8c0,37.92928 30.87072,68.8 68.8,68.8c37.92928,0 68.8,-30.87072 68.8,-68.8c0,-37.92928 -30.87072,-68.8 -68.8,-68.8zM86,28.66667c31.73223,0 57.33333,25.6011 57.33333,57.33333c0,31.73223 -25.6011,57.33333 -57.33333,57.33333c-31.73223,0 -57.33333,-25.6011 -57.33333,-57.33333c0,-31.73223 25.6011,-57.33333 57.33333,-57.33333z">
              </path>
            </g>
          </g>
        </svg>
        <li #todoItem class={{todo.status}} id="{{todo.id}}">
          {{todo.text}}</li>
      </div>
    </ul>
  </div>
  <hr>
  <div class="task-list">
    <ul>
      <span class="center-text" *ngIf="!completedTodos || !completedTodos.length">{{uncompletedTodos}}</span>
      <h2 class="  center-text" *ngIf="completedTodos && completedTodos.length">Completed Tasks</h2>
      <div  class="row list-item col-lg-8 col-md-8 col-sm-8" *ngFor="let todo of completedTodos">
        <svg class="col-2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172"
          style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#e74c3c">
              <path
                d="M86,17.2c-37.92928,0 -68.8,30.87072 -68.8,68.8c0,37.92928 30.87072,68.8 68.8,68.8c37.92928,0 68.8,-30.87072 68.8,-68.8c0,-37.92928 -30.87072,-68.8 -68.8,-68.8zM86,28.66667c31.73223,0 57.33333,25.6011 57.33333,57.33333c0,31.73223 -25.6011,57.33333 -57.33333,57.33333c-31.73223,0 -57.33333,-25.6011 -57.33333,-57.33333c0,-31.73223 25.6011,-57.33333 57.33333,-57.33333z">
              </path>
            </g>
          </g>
        </svg>
        <li class={{todo.status}} id="{{todo.id}}" [ngClass] ="'my-auto'">
          {{todo.text}}</li>
      </div>

    </ul>
  </div>

</main>