button{
    background-color: rgb(5, 133, 139);
    color: white;
    height: 3rem;
}
input{
    text-align: center;
    height: 3rem;
}input:focus, button:focus{
    outline: none !important;
}
button:hover{
    color: rgb(5, 133, 139);
    background-color: azure;
}